
body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 16px 16px;
  font: 14px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(12, 13, 14);
  background: rgb(119, 228, 255);
  background: rgba(119, 228, 255);
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend i {
  width: 14px;
  height: 14px;
  float: left;

}